<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img id="storedImage">
    <script>
      const storedImageDataURL = localStorage.getItem("capturedImage");
      if (storedImageDataURL) {
        document.querySelector("#storedImage").src = storedImageDataURL;
      } else {
        console.error("No stored image data URL found");
      }
    </script>
  </body>
</html>

  